#intro


#hidden_stuff
- @images.each do |image|
  - #the ugly one
  = hidden_field image, {:hidden => true}, {:class => 'omg', :secret_key => image}
= hidden_field @topic, {}, {:class => 'true_answer', :secret_answer => @topic}

#thisgoeslower.container.hero-unit
  %h3
    Guess what the topic is.
  %br
  %span.remainder
    5
  guesses remaining

  %br
  %br
  %input.funtimes{:placeholder => 'Enter your guess here.'}
  %br
  %button{:id => 'guesser', :class => 'btn btn-primary'}
    Guess

#clues.container.hero-unit



%label.infowars