#intro


#hidden_stuff
- @images.each do |image|
  - #the ugly one
  = hidden_field image, {:hidden => true}, {:class => 'omg', :secret_key => image}
= hidden_field @topic, {}, {:class => 'true_answer', :secret_answer => @topic}

#thisgoeslower.container.hero-unit
  .row
    .span12
      %h3
        Guess the topic.
      %p
        %span.remainder
          5
        guesses remaining
      %input.funtimes{:placeholder => 'Enter your guess here.', :height => '40px'}
      %button{:id => 'guesser', :class => 'btn btn-primary btn-large'}
        Guess
      %a{:class => 'btn btn-large', :href => '/'} New Word
      %label.infowars
      

#clues.container.hero-unit



